<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts:Ej3</title>
    <link rel="stylesheet" href=./Ej3style.css>
    
</head>
<body>
    <div class="encabezado bg-color-grey border">
        <div class="row">
            <div>div encabezado</div>
            <div class="menu bg-color-green">div menu</div>
        </div>
        <div class="row">
            <div class="logo">div log</div>
            <div class="menu">div menu2</div>
        </div>
        
        
    </div>

    <div class="body">

    </div>
    <div class="pie bg-color-grey border"></div>
</body>
</html>