<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Classroom Ej1-Layouts</title>
</head>
<body>
    <div class="all padding-in col"> <!--preferi trabajar asi, con un contenedor, para utilizar
    porcentajes en la cajas y no medidas en pixeles-->

        <!--HEADER-->
        <div class="row margin-out header-height">
            <div class="border margin-right bg-color-pink rect1-width">
                <!--1er rectangulo rosa-->
            </div>
            <div class="border margin-left bg-color-pink rect2-width">
                <!--2do rect rosa-->
            </div>
        </div>

        <!--Body-->
        <div class="row margin-out body-height">
            <div class="border margin-right bg-color-yellow rect3-width">
                <!--3er rect amarillo-->
            </div>
            <div class="col margin-left rectbro-width">
                <!--Rectangulos violetas hermanos-->
                <div class="border margin-bro-up bg-color-violet rectbro">
                    <!--4to rect-->
                </div>
                <div class="border bg-color-violet rectbro">
                    <!--5to rect-->
                </div>
            </div>
        </div>

        <!--Footer-->
        <div class="row margin-out footer-height">
            <div class="margin-right border bg-color-marino rectprimos-width">
                <!--rect6 footer-->
            </div>
            <div class="margin-right margin-left border bg-color-marino rect7-width">
                <!--rect7 footer-->
            </div>
            <div class="margin-left border bg-color-marino rectprimos-width">
                <!--rect8 footer-->
            </div>
        </div>
    </div>
</body>
</html>