<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=./Ej1style.css>
    <title>Layouts:Ej1</title>
</head>
<body>
    <!--Este documento fue hecho por Laureano Cifuentes-->
    <div class="encabezado">
        <h1>
            Título H1
        </h1>
    </div>

    <div class="cuerpo">
        <p>
            Esto es un párrafo. La Web está llena de esas pequeñas molestias que pueden llegar a entorpecer el uso habitual que le damos; un buen ejemplo son las protecciones contra el copia y pega.

            Gracias a proyectos como HTML Guard, cada vez más páginas evitan que los usuarios seleccionen texto, lo copien y lo peguen. Así que si quieres compartir un extracto del texto, o usarlo en algún proyecto, o simplemente buscar una palabra en concreto en Internet o en un diccionario, no puedes.
            
            Afortunadamente, hay muchas extensiones que nos permiten solventar estos problemas.
            
            Chrome – Allow Select And Copy
            Esta extensión nos permitirá desbloquear aquellas webs que impiden seleccionar texto y copiarlo; incluso en aquellas en las que el menú no aparezca cuando hacemos click derecho del ratón.
        </p>
    </div>

    <div class="pie">
        <p>
            Esto es un pie
        </p>
    </div>
</body>
</html>